.containtForm {
  /* width: 95vw; */
  /* height: 85vh; */
  /* background-color: #97CC53; */
}

.bodyForm {
  padding: 1vh 0 2vh 0;
  justify-content: center;
}

.corpsForm {
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.importFileView {
  justify-content: space-between;
  flex-direction: row;
}

.right_arrow {
  width: 25px;
  height: 25px;
}

.selectorForm {
  justify-content: center;
  align-items: center;
  background-color: #5A6978;
  border-radius: 5px;
  opacity: 0.5;
  width: 125px;
  height: 40px;
}

@media screen and (min-width: 67rem) {
}

@media screen and (max-width: 67.1rem) {
}

@media screen and (max-width: 25.1rem) {
}
