<div id="rubrique1">
  <h2 class="r1-Preambule" >2 Preambule</h2>
  <h3 id="Contexte" class="r1-title" >Contexte</h3>
  <li class="r1-li">
    <p class="r1-p">
      « Le secteur du bâtiment absorbe 45 % de la consommation d'énergie nationale et produit 27 % des émissions de gaz à effet de serre. Avec 7 à 8 millions de passoires thermiques (logements classés F ou G) en France, l’Etat s’est fixé comme objectif de rénover 500 000 logements par an.
    </p>
  </li>
  <li class="r1-li">
    <p class="r1-p">
      A l’horizon 2050, l’ambition de la France est d’atteindre la neutralité carbone. Ce qui consiste pour le secteur du bâtiment à la réalisation de rénovations des bâtiments existants au niveau label BBC.
    </p>
    <p class="r1-p-2">
      Pour rappel, un Bâtiment Basse Consommation est un logement qui consomme 80 kWhep/m2.an (Lettre A ou B de l’étiquette énergie).
    </p>
  </li>
  <li class="r1-li">
    <p class="r1-p">
      Actuellement, plus de la moitié des logements consomment entre 151 et 330 kWhep/m2.an (entre la lettre C et E) et plus du quart consomme plus de 330 kWhep/m2.an (Lettre F ou G).
    </p>
    <p class="r1-p-2">
      ---> L’enjeu majeur est donc la rénovation énergétique des bâtiments.
    </p>
  </li>
  <li class="r1-li">
    <p class="r1-p">
      Une rénovation énergétique est plus efficace et plus rentable si elle est globale. Les critères d’évaluation de l’efficacité énergétique d’une rénovation sont les suivants : économies d’énergie, amélioration de son confort l’hiver et/ou l’été, la valorisation de son patrimoine et la performance environnementale.
    </p>
  </li>
  <div id="Objectifs-Logiciel">
    <div id="Objectifs">
      <h2 class="r1-title" >Contexte</h1>
      <li class="r1-li">
        <p class="r1-p">
          Dresser un état des lieux énergétique de votre logement
        </p>
      </li>
      <li class="r1-li">
        <p class="r1-p">
          Dégager les points thermiquement forts et thermiquement faibles du bâtiment.
        </p>
      </li>
      <li class="r1-li">
        <p class="r1-p">
          Etablir 3 bouquets de travaux permettant d’atteindre le label BBC Rénovation.
        </p>
      </li>
    </div>
    <div id="Logiciel">
      <h2 class="r1-title" >Logiciel utilisé</h1>
      <p>Le logiciel utilisé est le logiciel BAO de la suite logiciel PERRENOUD (V.2.0.37 BAO Evolution... ) spécialement dédié au calcul de la consommation conventionnelle en énergies des bâtiments existants. Il permet entre autres de travailler sur différentes méthodes de calcul</p>
    </div>
  </div>
  <div class="r1-footer">
    <div class="Bonsavoir">
      <img src="<%= baseURL %>tamplete/img/r1/picto_11.png">
      <img src="<%= baseURL %>tamplete/img/r1/Bonsavoir.png">
    </div>
    <p class="r1-p-footer">Bon à savoir : D’après l’article 22, de la « LOI n°2019-1147 du 8 novembre 2019 relative à l’ énergie et au climat », qui fixe le cadre, les ambitions et la cible de la politique énergétique et climatique de la France". L’obligation, à partir de 2022, de la réalisation d’un audit énergétique en cas de mise en vente ou en location d’une passoire thermique, qui contiendra des propositions de travaux adaptés au logement, ainsi que leur coût estimé.</p>
  </div>
  <!-- <div style="color: red; height: 20px;"><img src="http://localhost:5000/tamplete/img/bandeausitepieddepag_0.png" style="height: 20px; width: 575px;"></div> -->
</div>
