/* 2480x3508 */
@media print {
  #rubrique2 {
  }

  #rubrique2:after, #m-ouvrage:after, #bureau:after, #r-dossier:after, #calculs:after {
    content: '';
    clear: both;
    display: block;
  }

  #m-ouvrage {
    float: left;
    width: 280px;
  }

  #m-ouvrage span {
    font-size: 12px;
  }

  #bureau {
    float: right;
    width: 280px;
  }

  #r-dossier {
    float: left;
    width: 280px;
  }

  #calculs {
    float: right;
    width: 280px;
  }

  #r2-footer {
    background-color: #e9f2d3;
  }

  #r2-footer-l {
    float: left;
    width: 120px;
  }

  #r2-footer-l2 {
    float: right;
    width: 215px;
    display: block;
  }

  #r2-footer-r {
    float: right;
    width: 215px;
    display: block;
  }

  #site img {
    height: 200px;
  }

  #place-footer{
    height: 200px;
    height: 120px;
  }

}
