/* 2480x3508 */
@media print {
  #rubrique2 {
    height: 745px;
    display: block;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 20px;
  }

  #rubrique2:after, #ouvrage-bureau:after,  #m-ouvrage:after, #bureau:after, #r-dossier:after, #calculs:after {
    content: '';
    clear: both;
    display: block;
  }

  #m-ouvrage {
    float: left;
    width: 225px;
    height: 170px;
  }

  #m-ouvrage span {
    font-size: 12px;
  }

  #bureau {
    float: right;
    width: 225px;
    height: 190px;
  }

  #ouvrage-bureau {
    display: block;
    height: 190px;
    padding: 10px;
  }

  .sub-rubric-size {
    font-size: 12px;
  }

  .sub-rubric-p {
    font-size: 10px;
    padding-left: 15px;
  }

  .legend-value {
    font-weight: bold;
    margin-left: 35px;
  }

  #r-dossier {
    float: left;
    width: 225px;
    height: 150px;
  }

  #calculs {
    float: right;
    width: 225px;
    height: 150px;
  }

  #r2-footer {
    background-color: #e9f2d3;
    height: 60px;
    padding: 10px;
  }

  #r2-footer-l {
    float: left;
    width: 125px;
    /* margin: 5px; */

  }

  #r2-footer-l2 {
    float: left;
    width: 160px;
    display: block;
    /* margin: 5px; */
  }

  #r2-footer-r {
    float: right;
    width: 150px;
    display: block;
    /* margin: 5px; */
  }

  .space-pict {
    margin: 5px;
  }

  #site img {
    height: 200px;
    width: 490px;
  }

  #place-footer{
    height: 120px;
  }

  .lineContainer {
    height: 1px; background-color: gray; display: block; margin-left: 5px; margin-right: 5px; opacity: 0.7;
  }

  .r2-attribut {
    color: #0073bc;
    font-size: 14px;
    /* margin-left: 10px; */
  }

  .r2-value {
    font-size: 10px;
    /* margin-left: 10px; */

  }

  .r2-lineH {
    line-height: 90%;
  }

}
