<div id="rubrique2">
  <h2 class="r2-title" > 2 Informations générales (1/4)</h1>
  <div id="m-ouvrage">
    <h3>2.1 Maître d'ouvrage</h3>
    <p><span>NON : </span></p>
    <p><span>ADRESSE : </span></p>
    <p><span>STATUT : </span></p>
  </div>
  <div id="bureau">
    <h3>2.2 Bureau d'étude</h3>
    <p><span>NON : </span></p>
    <p><span>CONCTACT : </span></p>
    <p><span>TÉL : </span>00 00 00 00</p>
    <p><span>E-MAIL : </span>estivenetiv@quilleniam.xx</p>
  </div>
  <div id="r-dossier">
    <h3>2.3 Référence dossier xxxxxxx</h3>
    <p><span>OBJET : </span></p>
    <p><span>ADRESSE BÂTIMENT: </span></p>
    <p><span>CP/VILLE : </span>000000 venet elit</p>
  </div>
  <div id="calculs">
    <h3>2.4 Calculs</h3>
    <p><span>NON : </span></p>
    <p><span>TEMP. EXT. DE BASE: </span> 0°C</p>
  </div>
  <div style="clear: both;"></div>
  <div id="site">
    <h3>2.5 Site audité le xx/xx/xxxx</h3>
    <img src="<%= baseURL %>tamplete/img/r2/plan.png">
  </div>
  <div id="r2-footer">
    <div id="r2-footer-l">
      <span>42</span>
    </div>
    <div id="r2-footer-l2">
      <span>2000</span>
    </div>
    <div id="r2-footer-r">
      <span>00 m2</span>
    </div>
  </div>
  <div style="clear: both;"></div>
</div>
