.containt {
  margin-top: 5px;
  width: 20vw;
}

.body {
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 2vw;
}

.itemTitle_navBar {
  color: #2C7AC3;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  justify-content: center;
  margin-left: 2px;
}

.itemView_navBar {
  justify-content: flex-start;
  flex-direction: row;
}

.itemView_navBar_containers {
  width: 15.5vw;
  padding: 0.5rem 0 0.5rem 0.5rem;
  border-bottom-color: #D3DCE6;
  border-bottom-width: 2px;
  border-right-color: #D3DCE6;
  border-right-width: 2px;
  flex-direction: row;
  justify-content: space-between;
}

.home {
  width: 15.5vw;
  height: 15.5vw;
}

.bell {
  width: 16px;
  height: 16px;
}

.viewReset_navBar {
  justify-content: center;
  margin-right: 5px;
}

.Raster_navBar {
  width: 10px;
  height: 10px;
}

@media screen and (min-width: 67rem) {
  
}

@media screen and (max-width: 67.1rem) {

}

@media screen and (max-width: 25.1rem) {
 
}

