<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>PDF</title>
  <link href="<%= baseURL %>tamplete/css/couverture/styles.css" rel="stylesheet" type="text/css">
  <link href="<%= baseURL %>tamplete/css/rubrique1/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div id="background">
    <%- include('./page/couverture/index.ejs') %>
    <%- include('./page/rubrique1/index.ejs') %>
  </div>
</body>

</html>
