.wrapper {
  width: 100vw;
  height: 100vh;
}

.corps1 {
  margin-top: 6vh;
}

.corps3 {
  justify-content: start;
  flex-direction: row;
}

.body {
  background-color: red;
}

@media screen and (min-width: 67rem) {
  .containt {
    margin: 0.5rem 2rem 0.5rem 2rem;
  }
  .corps {
    justify-content: start;
    flex-direction: row;
  }
}

@media screen and (max-width: 67.1rem) {
  .containt {
    /* margin: 0 0 0 0; */
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  .corps {
    justify-content: start;
    flex-direction: row;
  }
}

@media screen and (max-width: 25.1rem) {
  .containt {
    /* margin: 0 1rem 0 1rem; */
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  .corps {
    display: none;
  }
}
