.containt {
}

.searchContainers {
  justify-content: space-between;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
}

.searchInput {
  background-color: #FFFFFF;
  padding: 10px;
}

.listContainers {
  background-color: #FFFFFF;
  border: 1px solid #C0CCDA;
  opacity: 0.7;
  margin: 10px;
  height: 70vh;
}

.textInput {

}

@media screen and (min-width: 67.375rem) {

}

@media screen and (max-width: 67.374rem) {
}
