<div id="rubrique9">
  <div class="r4-tittle">
    <h2 style="text-decoration: underline;"><span class="number">2–</span> Etats des lieux existants</h2>
   
    <div style="display: inline;"><img src="<%= baseURL %>tamplete/img/r5/fleche.png"
        style="width: 10px; height: 10px;"></div>
    <h3 style="display: inline;"><span class="number">3.3</span>  /</h3>
<div>
  <div style=" width: 20%; height: 160px;position: absolute;z-index: 2;"><img src="<%= baseURL %>tamplete/img/r8/cartouchebleu.png" class="foto" ></div>
  <div style="width: auto; height: 160px;  z-index: 1;position: absolute;"><img src="<%= baseURL %>tamplete/img/r8/bandeaugris.png" class="foto"></div>

  <div style="height: 160px; width:75% ; z-index: 3; margin-left: 23%; text-align: center;position: relative;"> 
    <p style="color: black; font-size: 12px;"> Les systèmes sont tous les appareils qui consomment de l’énergie pour rendre 
      votre habitation confortable. Cela peut être une chaudière pour votre chauffage mais aussi une ventilation mécanique pour assurer le bon 
      renouvellement de l’air de votre logement, 
      Nous étudierons <span style="color: cornsilk;">5 usages les plus couramment utilisés</span>  et les plus 
      consommateurs en énergie, et qui sont pris en compte dans la méthode 
      réglementaire . <span style="color: aliceblue;">il s’agit :</span>  
    </p>
</div>
<p>
 <h3>Il s'agit des systèmes suivants :</h3><span style="color: black;">il seront reperé par leur pictogramme</span> 
</p>

</div>
