/* 2480x3508 */
@media print {
  #rubrique3Etats {
    height: 745px;
    display: block;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 20px;
  }
  .r4-tittle,.td-2 { 
    color: blue;
    font-weight: bold;
  }
  .r4-tittle h3 { 
    display: inline;}
  .number {
    color:green;
  }
  h3{
    color: blue;
  }
  .article1 {
    display: inline-block;
    z-index: 1;
   
     }
  .aside {
    width: 170px;
    height: 170px;
    display: inline-block;
   
     }
     .top {
       height: 170px;
         }
     .foto {
   width: 100%;
   height: 100%;
     }  
     .article2 {
       width: 30%;
       height:auto;
       display: inline-block;
       padding-left: 15px;
       color: black;
       font-size: 10px;
     }
    
     .td-R8 {
        width: 20%;
        height: 150px;
        margin: 10px;
        border-right: lavender 1px solid;
     }
     .conteneurR8 {
       border-top: darkgrey solid 1px;
       padding: 15px;
       height: 160px;
     }
}
