.containt {
  justify-content: space-between;
  flex-direction: row;
  background-color: #47525E;
  border: 1px solid #8492A6;
  border-radius: 5px;
  opacity: 0.47;
  height: 40px;
  width: 90vw;
}

.title {
  color: #5A6978;
  font-size: 18px;
  line-height: 62px;
  text-align: left;
}

.selector {
  justify-content: center;
}

.InputContaint {
  background-color: #2C7AC3;
  border: 1px solid #8492A6;
  opacity: 0.56;
  width: 90vw;
  padding: 0 1vw 0 1vw;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 10px;
}

@media screen and (min-width: 67rem) {
  
}

@media screen and (max-width: 67.1rem) {
}

@media screen and (max-width: 25.1rem) {
}

