<div id="rubrique5">
  <div class="r4-tittle">
    <h2 style="text-decoration: underline;"><span class="number">2–</span> Information génerale</h2>
   
    <div style="display: inline;"><img src="<%= baseURL %>tamplete/img/r5/fleche.png"
        style="width: 10px; height: 10px;"></div>
    <h3 style="display: inline;"><span class="number">2.8</span>Plans /</h3>
    <h3 style="display: inline;"><span class="number">2.8.1</span>Légende Plan </h3>

  </div>   
<div>
  <img src="<%= baseURL %>tamplete/img/r6/Calque13.png"
        style="width: 100%; height: 100%;">
</div>
</div>

